In [172]:
import pandas as pd
import numpy as np
import requests, re
import datetime
import time
from KrakenInterface import KrakenInterface
from bs4 import BeautifulSoup

In [173]:
asset = 'XBT'
fiat = 'EUR'
kr = KrakenInterface()
asks, bids = kr.order_book_of(10)
rec = requests.get('https://api.kraken.com/0/public/Ticker?pair=XBTEUR').json()['result']
asks

         price  volume           timestamp
0  8152.100098   0.769 2020-05-25 21:29:20
1  8155.000000   0.250 2020-05-25 21:27:12
2  8160.200195   0.050 2020-05-25 21:29:20
3  8160.899902   0.297 2020-05-25 21:29:20
4  8162.399902   2.500 2020-05-25 21:29:20
5  8162.700195   0.570 2020-05-25 21:29:20
6  8162.899902   0.309 2020-05-25 21:29:20
7  8163.100098   0.100 2020-05-25 21:29:20
8  8163.600098   0.105 2020-05-25 21:29:20
9  8164.799805   0.288 2020-05-25 21:29:20

In [174]:
rec

{'XXBTZEUR': {'a': ['8152.10000', '1', '1.000'],
  'b': ['8152.00000', '15', '15.000'],
  'c': ['8152.10000', '0.00612005'],
  'v': ['5044.92367492', '7291.66987336'],
  'p': ['8080.65558', '8097.48271'],
  't': [25653, 36716],
  'l': ['7938.40000', '7938.40000'],
  'h': ['8188.40000', '8350.20000'],
  'o': '8008.10000'}}

In [176]:
ass = kr.get_assets_names()

In [177]:
# ass

In [178]:
ass.index

Index(['Algorand', 'Augur', 'Bitcoin', 'Bitcoin Cash', 'Cardano', 'Chainlink',
       'Cosmos', 'Dai', 'Dash', 'Dogecoin', 'EOS', 'Ethereum',
       'Ethereum Classic', 'Gnosis', 'ICON', 'Lisk', 'Litecoin', 'Monero',
       'Nano', 'OmiseGO', 'PAX Gold', 'QTUM', 'Ripple', 'Siacoin',
       'Stellar Lumens', 'Tezos', 'Tron', 'USD Coin', 'Watermelon', 'Waves',
       'Zcash'],
      dtype='object', name='name')

In [179]:
ass.values.reshape(-1)

array(['ALGO', 'REP', 'XBT', 'BCH', 'ADA', 'LINK', 'ATOM', 'DAI', 'DASH',
       'XDG', 'EOS', 'ETH', 'ETC', 'GNO', 'ICX', 'LSK', 'LTC', 'XMR',
       'NANO', 'OMG', 'PAXG', 'QTUM', 'XRP', 'SC', 'XLM', 'XTZ', 'TRX',
       'USDC', 'MLN', 'WAVES', 'ZEC'], dtype=object)

In [180]:
s = ''
for key, val in zip(asset_names.codes.values, asset_names.name.values):
    s += '{:<4s} | {:s}\n'.format(str(key), str(val))
    
print(s)

ADA  | Cardano
ALGO | Algorand
ATOM | Cosmos
BAT  | Basic Attention Token
BCH  | Bitcoin Cash
DAI  | Dai
DASH | DASH
EOS  | EOS
GNO  | Gnosis
ICX  | ICON
LINK | Chainlink
LSK  | Lisk
OMG  | OmiseGO
PAXG | PAX Gold
QTUM | QTUM
SC   | Siacoin
TRX  | Tron
USDT | Tether
USDC | USD Coin
WAVE | Waves
XETC | Ethereum Classic
XETH | Ethereum
XLTC | Litecoin
XMLN | Watermelon
XREP | Augur
XXBT | Bitcoin
XXDG | Dogecoin
XXLM | Stellar Lumens
XXMR | Monero
XXRP | Ripple
XXTZ | Tezos
XZEC | Zcash
ZCAD | Canadian dollar
ZEUR | Euro
ZGBP | Great British Pound
ZJPY | Japanese Yen
ZUSD | US Dollar
KFEE | Kraken Fee Credits

In [181]:
kr.asset = 'ETH'
kr.order_book_of(1)[0].price.iloc[-1]

187.98

In [182]:
page = open(r'curr_names.html', 'r').read()
soup = BeautifulSoup(page, "html")
tbody = str(soup.find('tbody'))

In [183]:
asset_names = re.findall('<tr>\n<td class="confluenceTd">(\w*)</td>\n<td class="confluenceTd">(.*)</td>', tbody)
asset_names = pd.DataFrame(asset_names, columns=['codes', 'name'])
fiatnames = asset_names[asset_names.codes.isin(fiats)]
# codes_clean = asset_names.codes.apply(lambda x: x[1:] if (x[0] == "X")|(x[0] == "Z") else x)
# asset_names.codes = codes_clean
asset_names[asset_names.codes.str.startswith('Z')]
# .sort_values('codes')
fiatnames

   codes                 name
32  ZCAD      Canadian dollar
33  ZEUR                 Euro
34  ZGBP  Great British Pound
35  ZJPY         Japanese Yen
36  ZUSD            US Dollar

In [184]:
allpairs[allpairs.base.isin(codes_clean)].columns

Index(['altname', 'wsname', 'aclass_base', 'base', 'aclass_quote', 'quote'], dtype='object')

In [185]:
url = 'https://api.kraken.com/0/public/AssetPairs'
page = requests.get(url)
jString = page.json()

In [186]:
allpairs = pd.DataFrame(jString["result"]).T.iloc[:, :6]

In [187]:
# allpairs = jString["result"].keys()

fiats = [x for x in allpairs.quote.unique() if x[0] == "Z"]
fiats

['ZEUR', 'ZUSD', 'ZGBP', 'ZCAD', 'ZJPY']

In [188]:
fiats

['ZEUR', 'ZUSD', 'ZGBP', 'ZCAD', 'ZJPY']

In [197]:
fiatmask = allpairs['quote'].isin(fiats)

In [202]:
fiatpairs = allpairs[fiatmask]
fiatpairs

          altname    wsname aclass_base  base aclass_quote quote
ADAEUR     ADAEUR   ADA/EUR    currency   ADA     currency  ZEUR
ADAUSD     ADAUSD   ADA/USD    currency   ADA     currency  ZUSD
ALGOEUR   ALGOEUR  ALGO/EUR    currency  ALGO     currency  ZEUR
ALGOUSD   ALGOUSD  ALGO/USD    currency  ALGO     currency  ZUSD
ATOMEUR   ATOMEUR  ATOM/EUR    currency  ATOM     currency  ZEUR
...           ...       ...         ...   ...          ...   ...
XZECZUSD   ZECUSD   ZEC/USD    currency  XZEC     currency  ZUSD
ZEURZUSD   EURUSD   EUR/USD    currency  ZEUR     currency  ZUSD
ZGBPZUSD   GBPUSD   GBP/USD    currency  ZGBP     currency  ZUSD
ZUSDZCAD   USDCAD   USD/CAD    currency  ZUSD     currency  ZCAD
ZUSDZJPY   USDJPY   USD/JPY    currency  ZUSD     currency  ZJPY

[97 rows x 6 columns]

In [190]:
cryptofiat = fiatpairs.base.unique()
cryptofiat

array(['ADA', 'ALGO', 'ATOM', 'BAT', 'BCH', 'DAI', 'DASH', 'EOS', 'ZEUR',
       'GNO', 'ICX', 'LINK', 'LSK', 'XLTC', 'NANO', 'OMG', 'PAXG', 'QTUM',
       'SC', 'TRX', 'USDC', 'USDT', 'WAVES', 'XXDG', 'XETC', 'XETH',
       'XMLN', 'XREP', 'XXRP', 'XTZ', 'XXBT', 'XXLM', 'XXMR', 'XZEC',
       'ZGBP', 'ZUSD'], dtype=object)

In [191]:
cryptofiat

array(['ADA', 'ALGO', 'ATOM', 'BAT', 'BCH', 'DAI', 'DASH', 'EOS', 'ZEUR',
       'GNO', 'ICX', 'LINK', 'LSK', 'XLTC', 'NANO', 'OMG', 'PAXG', 'QTUM',
       'SC', 'TRX', 'USDC', 'USDT', 'WAVES', 'XXDG', 'XETC', 'XETH',
       'XMLN', 'XREP', 'XXRP', 'XTZ', 'XXBT', 'XXLM', 'XXMR', 'XZEC',
       'ZGBP', 'ZUSD'], dtype=object)

In [192]:
asset_names[asset_names.codes.isin(cryptofiat)]

   codes                   name
0    ADA                Cardano
1   ALGO               Algorand
2   ATOM                 Cosmos
3    BAT  Basic Attention Token
4    BCH           Bitcoin Cash
5    DAI                    Dai
6   DASH                   DASH
7    EOS                    EOS
8    GNO                 Gnosis
9    ICX                   ICON
10  LINK              Chainlink
11   LSK                   Lisk
12   OMG                OmiseGO
13  PAXG               PAX Gold
14  QTUM                   QTUM
15    SC                Siacoin
16   TRX                   Tron
17  USDT                 Tether
18  USDC               USD Coin
20  XETC       Ethereum Classic
21  XETH               Ethereum
22  XLTC               Litecoin
23  XMLN             Watermelon
24  XREP                  Augur
25  XXBT                Bitcoin
26  XXDG               Dogecoin
27  XXLM         Stellar Lumens
28  XXMR                 Monero
29  XXRP                 Ripple
31  XZEC                  Zcash
33  ZEUR                   Euro
34  ZGBP    Great British Pound
36  ZUSD              US Dollar

In [193]:
allpairs.quote.unique()

array(['XETH', 'ZEUR', 'ZUSD', 'XXBT', 'ZGBP', 'USDT', 'CHF', 'DAI',
       'USDC', 'ZCAD', 'ZJPY'], dtype=object)

In [194]:
allpairs[allpairs.base == 'XXBT']

             altname    wsname aclass_base  base aclass_quote quote
XBTCHF        XBTCHF   XBT/CHF    currency  XXBT     currency   CHF
XBTDAI        XBTDAI   XBT/DAI    currency  XXBT     currency   DAI
XBTUSDC      XBTUSDC  XBT/USDC    currency  XXBT     currency  USDC
XBTUSDT      XBTUSDT  XBT/USDT    currency  XXBT     currency  USDT
XXBTZCAD      XBTCAD   XBT/CAD    currency  XXBT     currency  ZCAD
XXBTZCAD.d  XBTCAD.d       NaN    currency  XXBT     currency  ZCAD
XXBTZEUR      XBTEUR   XBT/EUR    currency  XXBT     currency  ZEUR
XXBTZEUR.d  XBTEUR.d       NaN    currency  XXBT     currency  ZEUR
XXBTZGBP      XBTGBP   XBT/GBP    currency  XXBT     currency  ZGBP
XXBTZGBP.d  XBTGBP.d       NaN    currency  XXBT     currency  ZGBP
XXBTZJPY      XBTJPY   XBT/JPY    currency  XXBT     currency  ZJPY
XXBTZJPY.d  XBTJPY.d       NaN    currency  XXBT     currency  ZJPY
XXBTZUSD      XBTUSD   XBT/USD    currency  XXBT     currency  ZUSD
XXBTZUSD.d  XBTUSD.d       NaN    currency  XXBT     currency  ZUSD